.container-produto {
    width: 100%;
    display: flex;
}
.container-produto > .card {
    width: 700px;
    margin: 20px auto 0;
}
.container-produto > .card .info-produto {
    display: flex;
    justify-content: space-between;
}
.container-produto > .card .info-produto .image {
    margin: 30px 10px 3px 15px;
    min-width: 300px;
    width: 300px;
}
.container-produto > .card .info-produto .info {
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-produto > .card .info-produto .info .content { width: 350px; }
.container-produto > .card .info-produto .info .content .book-title { font-size: 22px; }
.container-produto > .card .info-produto .info .content .book-description { margin-top: 10px; }
.container-produto > .card .info-produto .info .content .book-value { margin-top: 10px; }
.container-produto > .card .info-produto .info .content .action {
    height: 45px;
    margin-top: 10px;
}
.container-produto > .card .info-produto .info .content .action button { width: 100%; }
.bold { font-weight: bold; }

@media (max-width:699px) {
    .container-produto > .card {
        width: 500px;
        margin: 20px auto 0;
    }
    .container-produto > .card .info-produto {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .container-produto > .card .info-produto .image {
        margin: 8px 5px 3px 8px;
        min-width: 300px;
        width: 300px;
    }
    .container-produto > .card .info-produto .info {
        width: 450px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container-produto > .card .info-produto .info .content {
        width: 350px;
        text-align: center;
    }
    .container-produto > .card .info-produto .info .content .book-title { font-size: 22px; }
    .container-produto > .card .info-produto .info .content .book-description { margin-top: 25px; }
    .container-produto > .card .info-produto .info .content .book-value { margin-top: 25px; }
    .container-produto > .card .info-produto .info .content .action {
        height: 45px;
        margin-top: 10px;
    }
}